.card {
  background-color: rgb(187, 187, 187);
  padding: 10px;
  float: left;
  flex-wrap: wrap;
  display: flow-root;
  text-align: center;
  font-family:'Courier New',  monospace;
  flex-direction: column;
  justify-content: space-around;
  border: 0.5px  solid white;


 direction:'row'
}