.details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.image {
  position: relative;
}
.info {
  text-align: center;
  font-size: 1rem;
  position: relative;
  line-height: 10px;
  padding-top: 2%;
  padding-bottom: 5%;
  max-width: 650px;

  background: rgba(255, 255, 255, 0.48);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.buttonBack {
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  background-color: white;
  font-size: 15px;
  color: black;
  position: relative;
  margin-bottom: 3px;
  border: none;
  padding: 7px 59px;
}

.buttonBack:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 89, 24);
}

.buttonBack:active {
  background-color: white;
  color: black;
}
.Loading {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  max-width: 200px;
}
.deleted {
  color: white;
  margin-top: 10px;
  background-color: rgb(255, 89, 24);
  border: none;
}
.deleted:hover{
  color: black;
  background-color: white;
}
