.details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 } 

.image {
position: relative;
border-radius: 16px;
  
}
.info {
text-align: center;
font-size: 1.3rem;
position: relative;
line-height: 10px;
padding-top: 2%;
padding-bottom: 5%;
max-width: 650px;


background: rgba(255, 255, 255, 0.48);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(255, 255, 255, 0.27);
 

}
.buttonBack {
font-size: 15px;
color: red;
display: flexbox;
position: relative;
margin-bottom: 3px;
background: rgba(255, 255, 255, 0.48);
border-radius: 3px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(255, 255, 255, 0.27);
}

.buttonBack:hover {
  border:1.5px solid red;
}