.form_total{
align-items: center;
text-align: center;
font-size: 23px;
font-family:'Times New Roman', Times, serif;
display: block;

}

.error {
color: red;
font-family:'Roboto', sans-serif;

}

.form {
align-items: center;
text-align: center;
font-size: 20px;
display: inline-block;
margin: -2%;
padding-right: 10px;


}
.form label {
display: block;
text-align: center;
font-size: 18px;
margin: 0 0 2vh 0;
}
.form input, textarea{
display: block;
width: 100%;
padding: .5rem .8rem .5rem .8rem;
margin: .9vw 0 ;
border:0;
font-size: 18px;
}
.selectcreated{
font-size: 20px;
font-family:'Roboto', sans-serif;
padding-right: 10px;

padding: .5rem .8rem .5rem .8rem;
width: 100%;
}

.list {
flex-direction:row;
text-align: left;
width: fit-content;
height: fit-content;
font-family:'Roboto', sans-serif;
background-color: white;
display: block;
padding: .5rem .8rem .5rem .8rem;
min-width: 32rem;
min-height: 1rem;
}

.buttoncreate {
background-color: green;
color: white;
font-family:'Roboto', sans-serif;
font-size: 20px;
padding: 7px 89px;
outline: none;
border: none;
margin-bottom: 10px;
letter-spacing: 5px;

}
.buttoncreate:hover{
    cursor: pointer;

}

.buttoncreate:active {
background-color: black;

}
.buttonBackCreated{
    letter-spacing: 5px;

    color: white;
background-color: rgb(252, 0, 0);
font-family:'Roboto', sans-serif;
font-size: 20px;
padding: 7px 89px;
outline: none;
border: none;
}
.buttonBackCreated:active{
    background-color: white;
    color: black;
}
.buttonBackCreated:hover{
cursor: pointer;
}