.form_total{
align-items: center;
text-align: center;
font-size: 23px;
font-family:'Times New Roman', Times, serif;
display: block;

}

.error {
color: red;
font-family:'Roboto', sans-serif;

}

.form {
align-items: center;
text-align: center;
font-size: 20px;
display: inline-block;
margin: -2%;
padding-right: 10px;
border-radius: 5px;

}
.form label {
display: block;
text-align: center;
font-size: 18px;
margin: 0 0 2vh 0;
}
.form input, textarea{
display: block;
width: 100%;
padding: .5rem .8rem .5rem .8rem;
margin: .9vw 0 ;
border:0;
border-radius: 5px;
font-size: 18px;
}
.selectcreated{
font-size: 20px;
font-family:'Roboto', sans-serif;
padding-right: 10px;
border-radius: 5px;
padding: .5rem .8rem .5rem .8rem;
width: 100%;
}

.list {
flex-direction:row;
text-align: center;
width: fit-content;
height: fit-content;
font-family:'Roboto', sans-serif;
background-color: white;
display: block;
border-radius: 5px;
padding: .5rem .8rem .5rem .8rem;
}

.buttoncreate {
background-color: rgb(255, 0, 0);
color: antiquewhite;
font-family:'Roboto', sans-serif;
font-size: 20px;
padding: 7px 89px;
transition-duration: 0.5s;
outline: none;
border: none;
border-radius: 0.5em;
box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
margin-bottom: 10px;
}

.buttoncreate:active {
background-color: black;
cursor: pointer;

}
.buttonBack{
background-color: black;
font-family:'Roboto', sans-serif;
font-size: 14px;
padding: 5px 22px;
}