.landingpage {
  font-family:'Times New Roman', Times, serif;
  font-size: 90px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-align: left;  
  display: flexbox;
  margin-left: 20px;
  position: relative;
  top: -20px;
}

.subtitle {
font-family:'Courier New',  monospace;
font-size: 10px ;
text-align: left;  
display: flexbox;
position: relative;
top: -110px;
margin-left: 38px;
}

.button {
  font-family:'Courier New',  monospace;
  font-size: 15px;
  background-color:rgb(254, 0, 0);
  border: none;
  color: whitesmoke;
  padding: 8px 52px;
  float: left;
  margin-left: 90px;
  transition-duration: 1.2s;
  position: relative;

}
.button:hover {
  background-color: #ffffff;
  color: rgb(255, 0, 0);
}