.pagination {
  display: inline-block;
  text-align: center;
  justify-content: center;
  /* position: static; */
}

.number {
  font-family:'Courier New',  monospace;
  border: 0.2px solid ;
  background-color: transparent;
  transition-duration: 0.8s;

}
.number:hover {
  background-color:#ffffff;
}
.number:active {
  background-color: black;
}
