.inputsearchbar {
  border: none;
  font-size: 17px;
  background-color: white;
  padding-right: 53px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-right: 2px;
}

.buttonsearch {
  border: none;
  text-align: center;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;

  transition-duration: 1.2s;
  margin: 2px;
}

.buttonsearch:hover {
  color: white;
  background-color: rgb(255, 89, 24);
  cursor: pointer;
  border: none;
}

.buttonsearch:active {
  background-color: black;
  border: none;
}

.filters {
  font-size: 0.8em;
  background-color: white;
  color: rgb(252, 0, 0);
  margin-bottom: 3px;
}
